/******** CONNEXION RAPIDE ******************/

#quickloginform_overlay {
  height:100%;
  left:0;
  opacity:0.7;
  position:fixed;
  top:0;
  width:100%;
}
#quickloginform {
  height:100%;
  position:fixed;
  top:20%;
  width:100%;
}
#quickloginform>form {
  box-sizing:border-box;
  margin:auto;
  padding:20px 30px;
  width:360px;
  border-radius:3px;
}
#quickloginform input[type="password"],#quickloginform input[type="text"] {
  border:0 none;
  box-sizing:border-box;
  font-family:var(--font);
  font-size:14px;
  margin:0 0 15px;
  outline:0 none;
  padding:15px;
  width:100%;
}
#quickloginform button {
  border:0 none;
  cursor:pointer;
  font-size:14px;
  outline:0 none;
  padding:15px;
  text-transform:uppercase;
  width:100%;
}
#quickloginform p:nth-child(n) {
  margin-bottom:0;
  margin-top:20px;
  text-align:center;
}


/********************* TOOLBAR ****************************/

#fa_share,
#fa_hide {
    display: none;
}

/* Logo Forumactif*/
#fa_left {
    display: none;
}

/* Conteneur du lien de bienvenue et notification */
#fa_right {
    align-items: center;
    display: flex;
    height: 26px;
    margin-right: 5px;
    right: 0!important;
    position: fixed;
}

#fa_right #fa_notifications, #fa_welcome {
    cursor: pointer;
    padding: 4px 6px;
}

/* MENU bienvenue [ET] liste des notifications */
ul#fa_menulist,
ul#notif_list {
    border-radius: 5px;
    right: 0;
    left: initial !important;
    top: 45px;
    z-index: 999;
    position: absolute;
    display: none;
}


/* conteneur */
#fa_menulist {
    width: 350px;
}

/* Colonne gauche du menu de bienvenue avec avatar */
#fa_usermenu {
    float: left;
    padding: 15px;
    text-align: center;
    min-height: 250px;
}

/* Image de l'avatar dans le menu de bienvenue */
#fa_usermenu img {
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 10px;
}

/* Liens du menu de bienvenue */
#fa_menulist li {
    margin: 10px 0;
}

/* SÃ©parateur du menu de bienvenue */
#fa_toolbar #fa_right .fa_separator {
    margin: 5px 0 5px 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* LISTE DES NOTIFICATIONS ---*/
/* conteneur*/
#notif_list {
    width: 380px;
    padding: 5px;
    flex-direction: column-reverse;
}

/* Ligne d'une notification */
#notif_list li {
    position: relative;
    padding: 5px;
    padding-right: 20px;
}

#notif_list li:nth-last-child(2) {
    border-top: none
}

/* Bouton suppresion d'une notification */
#fa_toolbar #fa_right #notif_list li a.delete {
    position: absolute;
    top: 3px;
    right: 0;
}

/* Croix du bouton suppression */
#fa_toolbar #fa_right #notif_list li a.delete:before {
    content: "\f12a";
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    color: #FF4F42;
}

/* Lien "voir toutes les notifications" */
#notif_list .see_all {
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    order: -1;
}

/* Placement du pop-up de nouvelle notification */
#fa_toolbar #live_notif {
    position: absolute;
    top: 45px;
    right: 0px !important;
}

/* Stylisation du pop-up */
#fa_toolbar #live_notif .fa_notification {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
}
/* Conteneur de l'avatar toolbar */
.fa_avatar {
    border-radius: 100%;
    display: grid;
    height: 40px;
    left: -45px;
    place-items: center;
    position: absolute;
    top: -3px;
    width: 40px;
}

/*** ELEMENTS ESTHETIQUES ---------- ***/

/* Barre de sÃ©paration */
.separator {
    padding-bottom: 5px;
    margin-bottom: 5px;
    clear: both;
    height: 1px;
    width: 100%;
}
/* Conteneur moins large (les historiques des messages essentiellement) */
.wrapped {
    width: 80%;
    margin: 10px auto;
    clear: both;
}


/* Image/avatar rÃ©duit */
.mini_img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-right: 10px;
    background: var(--grey);
}

/* supprime si vide */
.links_bar:empty {
    display: none
}

/* Suppression des liens vides */
.specials_links a:empty,
a.specials_links:empty {
    display: none
}

/* Emoji mis par dÃ©faut de FA
 * Les rÃ©duire les rend moins horribles Ã voir */
.emojione {
    width: 15px !important
}


/* Retire le cadre de la rÃ©ponse rapide pour les invitÃ©s */
#quickreply_content:empty {
    display: none
}

/*supression de la mention "rÃ©ponse rapide" */
.quickreply div.h3 {
    display: none
}

/*centrer la rÃ©ponse rapide*/
div#quickreply_content {
    background: none;
}
