/* FICHES POSTES */

.bywFC { 
    padding: 15px 0 15px;
  line-height: 10px;
  
}

.bywFC h2 {
    font-size: inherit;
}

.bywFH, .bywFS {
    padding: 10px;
  text-align: justify;
  line-height: 14px;
}

.bywFS {
    padding: 2px;
}

.imgFH {
    width: -webkit-fill-available;
    object-fit: cover;
}

.bywFT1, .bywFT2, .bywFT3 {
    padding: 5px;
    text-align: center;
    font-size: 13px;
  margin: 0 10px;
    text-transform: uppercase;
}

.bywFTF {
    margin: 15px 10px;
    padding: 10px;
    text-align: justify;
}

/* FICHE PRENARIO */

.avaFH1, .avaFH2 {
    margin-right: 10px;
    width: 80px;
    height: 128px;
    float: left;
}

.avaFH2 {
    margin-left: 10px;
    float: right;
}

.avaFH1 img, .avaFH2 img  {
    width: 80px;
    height: 128px;
    object-fit: cover;
    padding: 5px;
}
