/***************** FICHE PREZA ************************/

.bywP br {
    line-height: 1px;
}

.bywP, .bywS {
    margin: auto;
    padding: 20px 10px;
    width: 500px;
    font-size: 12px;
}

.bywS {
    width: 450px;
    padding-bottom: 0;
}

.bywS .bywPB {
    margin-bottom: 0;
}

.bywPB {
  height: fit-content;
  margin-bottom: 15px;
}

.bywPT, .bywFC {
    align-items: center;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: minmax(20%,auto) minmax(5%,auto) minmax(20%,auto);
    line-height: 8px;
    margin: 5px;
    padding: 25px 0 20px;
    text-align: center;
}

.bywP h2, .bywFC h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

.byWP {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 48% 49%;
  margin-bottom: 10px;
}

.infosWP {
    height: 279px;
    margin: 5px;
    overflow: auto;
    padding: 10px;
    line-height: 15px;
}

.infosWP wp {
    font-size: inherit;
}

.infosWP br {
    line-height: 1px;
}

.icnWP {
    display: inline-block;
    margin-top: 295px;
    position: absolute;
    margin-left: 3px;
}

.icnWP img {
    height: 55px;
    margin: 3px;
    object-fit: cover;
    width: 55px;
}

.grpWP {
    display: inline-block;
    line-height: 18px;
    margin-top: 301px;
    position: absolute;
    margin-left: 202px;
    text-align: center;
    height: fit-content;
}

.avaWP {
    margin: 5px;
    padding: 12px;
}

.avaWP img {
    width: 200px;
    height: 320px;
    object-fit: cover;
}

.avaWPI {
    -webkit-transition: .3s ease-in-out;
    height: 320px;
    margin-top: -320px;
    opacity: 0;
    padding: 180px 10px 10px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 200px;
}

.avaWPI:hover {
    opacity: 1;
    transition-delay: .2s!important;
}

.avaWPI span {
    font-size: 10px;
    line-height: 28px;
    margin-left: 4px;
    padding: 4px;
}

.byWO {
    display: inline-block;
}

.byWO label {
    border-radius: 100%;
    margin: 85px 18px -75px;
    padding: 4px 6px;
    cursor: pointer;
}

.byWO label:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.byWO input[type=radio] {
    display: none;
}

.byWO [id^="byW"]:checked + label {
    color: var(--light);
}

#byW9:checked ~ #byWOC9,
#byW10:checked ~ #byWOC10,
#byW11:checked ~ #byWOC11,
#byW12:checked ~ #byWOC12,
#byW13:checked ~ #byWOC13,
#byW14:checked ~ #byWOC14,
#byW15:checked ~ #byWOC15,
#byW16:checked ~ #byWOC16,
#byW17:checked ~ #byWOC17
{
  display: inline-block;
-moz-animation: anIM 1s ease-in-out;
animation: anIM 1s ease-in-out;
-webkit-animation: anIM 1s ease-in-out;
}

.byWO [id^="byW"]:checked + label ~ .byWOC {
    z-index: 4;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
}

.byWOC {
    display: none;
    margin-left: 70px;
    margin-top: -265px;
    padding: 5px;
    text-align: justify;
    width: 410px;
    line-height: 15px;
}

.byWOC .byWOI {
    margin: 1px;
    height: 350px;
    overflow: auto;
    padding: 15px;
}
