/*** ROOT **/
:root {

--black: #000;
    --border: 1px solid #efeee8;
    --border1: #a0cace;
    --border2: #cabcbe;
    --dark: #202020;
    --deep-color: #84b8b7;
    --deep-color2: #d29cb4;
    --deep-color3: #ceb353;
    --deep-color4: #b6bcae;
    --deep-color5: #bf9eaf;
    --fgrad: linear-gradient(90deg,rgba(182,188,174,1) 0%,rgba(202,188,190,1) 100%);
    --fgrad2: linear-gradient(90deg,rgba(202,188,190,1) 40%,rgba(182,188,174,1) 60%);
    --fgrad3: linear-gradient(90deg,rgba(160,202,206,1) 0%,rgba(191,158,175,1) 100%);
    --fgrfd: linear-gradient(180deg,rgba(211 210 201) 40%,rgba(202 188 190) 100%);
    --filter: brightness(100%);
    --grey: #efebed;
    --greyer: #E5E5E5;
    --greyish: #e1e1e1;
    --icnimg: url(https://zupimages.net/up/24/27/2ftb.png);
    --icon-color: #9db2ae;
    --light: #f7f7f7;
    --light-dark: #5B5B5B;
    --lighter: #f5f3f3;
    --main-background: #e2dde3;
    --opac-font: rgba(241,235,221,0.61);
    --rgba: rgba(169,216,229,0.50);
    --rgba2: rgba(217,223,186,0.35);
    --title-color: #6598ab;
    --little-size: 10px;
    --normal-size: 12px;
    --medium-size: 14px;
    --large-size: 16px;
    --title-size: 13px;
    --font: metrophobic;
    --font2: aladin;
    --font3: jua;
    --font4: gugi;
    --hbg: url(https://zupimages.net/up/24/27/wnw6.png);

}

/*dark mode*/

[data-theme="dark"]{
    --black: #fff;
    --border: 1px solid #141612;
    --border1: #3b1426;
    --border2: #285f4d;
    --dark: #c5c5c5;
    --deep-color: #671e40;
    --deep-color2: #30565f;
    --deep-color3: #b75a12;
    --deep-color4: #643449;
    --deep-color5: #024662;
    --fgrad: linear-gradient(90deg,rgba(48,86,95,1) 0%,rgba(100,52,73,1) 100%);
    --fgrad2: linear-gradient(90deg,rgba(48,86,95,1) 40%,rgba(100,52,73,1) 60%);
    --fgrad3: linear-gradient(90deg,rgba(100,52,73,1) 0%,rgba(40 95 77) 100%);
    --fgrfd: linear-gradient(180deg,rgba(21,2,9,1) 40%,rgba(6,23,18,1) 100%);
    --filter: brightness(50%);
    --grey: #0c0c0c;
    --greyer: #0e0d0d;
    --greyish: #262525;
    --hbg: url(https://zupimages.net/up/24/27/gnt1.png);
    --icnimg: url(https://zupimages.net/up/24/27/vknu.png);
    --icon-color: #963d63;
    --light: #040402;
    --light-dark: #5B5B5B;
    --lighter: #0a0909;
    --main-background: #141414;
    --opac-font: rgba(30,54,47,0.61);
    --rgba: rgba(118,48,48,0.50);
    --rgba2: rgba(35,112,45,0.35);
    --title-color: #d08604;
}
