/*** ------------------------------- ***/
/*** PROFILS SIMPLIFIÉS DES TAGS ---- ***/

/* Supression de la flèche peu esthétique*/
.tooltipster-arrow {}

.tooltipster-default {}

.preview_content {
  display: flex;
}

.preview_avatar img {
  object-fit: cover;
  object-position: center;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

.preview_infos {
  width: 100%;
  padding-top: 3px;
}

.preview_pseudo,
.preview_pseudo strong {
  font-size: var(--medium-size);
}

.preview_contacts {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: flex;
  align-items: center;
}

.preview_contacts a {
  margin-left: 5px;
}

.tooltipster-arrow {
  display: none;
}

/*** ------------------------------- ***/
/*** LISTE DES MEMBRES ------------- ***/

.userlist {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.userlist_profil {
  display: grid;
  grid-template-columns: 95px auto;
  grid-gap: 10px;
  padding: 10px;
  background: var(--neutral);
  border-radius: 5px;
}

.userlist_avatar {}

.userlist_avatar img {
  width: 75px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.userlist_details {}

.userlist_pseudo {
  font-size: var(--medium-size);
}

.userlist_infos {}

.userlist_contact {}

/****** ------------------------------------------------------------------------------ 
 ****** MESSAGES PRIVES -------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** LISTE DES MPs ----------------- ***/

/* Menu des MPS */
#privmsgs-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}

#privmsgs-menu li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Affichage d'un MP dans la liste */
.mp_row {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: 10px;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

/*** ------------------------------- ***/
/*** AFFICHAGE D'UN MESSAGE PRIVÉ -- ***/

.message {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 220px auto;
}

.message_infos {
  grid-column: 1 / span 2;
  border-bottom: 1px solid var(--neutralDark);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.mp-icons {
  display: flex;
  float: right;
}

.message_profil {
  padding: 10px;
  border-right: 1px solid var(--neutralDark);
  text-align: center;
}

.message_content {
  padding: 25px;
}
